@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,400;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

body {
  background: white;
}

.title {
  font-weight: 800;
  font-size: 2em;
  padding: 0em 0em 1em 0em;
  text-align: center;
  padding: 1em 1em;
}

.navbar {
  padding: 1.3em 1em;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .mobile-menu {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

.navbar .home-button {
  text-decoration: none;
  font-weight: bold;
  color: Black;
  font-size: 1.5em;
}

.navbar .mobile-menu {
  cursor: pointer;
}

.navbar nav {
  display: none;
}

.navbar nav.menu-btn {
  display: block;
}

.navbar nav {
  position: fixed;
  z-index: 999;
  width: 200px;
  right: 0;
  top: 0;
  background: midnightblue;
  height: 100vh;
  padding: 1em;
}

.navbar nav ul {
  margin-top: 2.5em;
}

.navbar nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: left;
}

.navbar nav li a:hover {
  font-weight: bold;
}

.navbar .mobile-menu-exit {
  float: right;
  margin: 1em;
  cursor: pointer;
}

.hero-section .container {
  margin-bottom: -29px;
}

.hero-section .container .hero {
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 95vh;
  padding: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
}

.hero-section .container .hero h1 {
  position: relative;
  font-family: 'Poppins';
  font-weight: bold;
  color: white;
  font-size: 2.3em;
  z-index: 1;
  text-align: center;
  top: 6em;
}

.hero-section .container .hero h2 {
  top: 8em;
  position: relative;
  font-family: 'Poppins';
  font-weight: bold;
  color: cyan;
  font-size: 1.8em;
  z-index: 1;
  text-align: center;
}

.hero-section .container .hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  z-index: 0;
}

.hero-section .container .social {
  position: relative;
  z-index: 10;
  bottom: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .container .social li {
  list-style: none;
}

.hero-section .container .social a {
  display: inline-block;
  margin-left: 1.5em;
  margin-right: 1.5em;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hero-section .container .social a:hover {
  -webkit-transform: scale(2.5) translateY(-15px);
          transform: scale(2.5) translateY(-15px);
}

.about-me-section {
  background: cyan;
  display: block;
  padding-bottom: 3em;
}

.about-me-section .container {
  padding: 3em 3em;
}

.about-me-section .title, .about-me-section p {
  padding: 0em 0em 1em 0em;
  text-align: center;
  padding: 1em 1em;
}

.about-me-section span {
  font-weight: bold;
}

.about-me-section p {
  font-size: 1.2em;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}

.about-me-section img {
  width: 20em;
  height: 20em;
  border: 5px solid cyan;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.experience-section {
  padding: 1em 1em;
  background: deepskyblue;
}

.experience-section .experience-paragraph-items {
  padding: 2em 2em;
}

.experience-section .experience-paragraph-title {
  padding: 0.5em;
  font-size: 1.5em;
  font-family: "Open Sans";
  font-weight: 400;
  border: 3px solid white;
  border-radius: 5px;
}

.experience-section ul {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
  margin-top: -40px;
  list-style: none;
  /* Remove default bullets */
  font-size: 1.2em;
  font-weight: 600;
}

.experience-section li {
  padding-top: 20px;
  color: whitesmoke;
  position: relative;
  margin-bottom: 1em;
  margin-left: 2em;
}

.experience-section ul li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: black;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

.contact-section {
  background: dodgerblue;
}

.contact-section label {
  display: block;
  font-size: 1.4em;
  margin-bottom: .5em;
  margin-left: 1.7em;
  font-weight: 600;
}

.contact-section input, .contact-section textarea {
  width: 90%;
  padding: .8em;
  margin-bottom: 1em;
  margin-left: 2em;
  border-radius: .3em;
  border: 1px solid gray;
}

.contact-section input[type="submit"] {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 3em;
  }
  .hero-section .container .hero h1 {
    font-size: 5em;
    top: 1.8em;
  }
  .hero-section .container .hero h2 {
    font-size: 3em;
    top: 4em;
    padding-bottom: 10em;
  }
  .about-me-section p {
    font-size: 1.8em;
  }
  .contact-section input {
    max-width: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  .hero-section .container .hero h1 {
    top: 4em;
  }
  .hero-section .container .hero h2 {
    font-size: 3em;
    top: 6.7em;
    padding-bottom: 8em;
  }
  .experience-section h1 {
    width: -webkit-max-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
  .experience-section li {
    margin-left: 30vw;
    margin-right: 20vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .experience-section .experience-paragraph-title {
    padding: 0.5em;
    font-size: 1.5em;
    font-family: "Open Sans";
    font-weight: 400;
    border: 3px solid white;
    border-radius: 5px;
  }
}
/*# sourceMappingURL=main.css.map */